<!DOCTYPE html>
<html ng-app='BookshelfApp'>
<head>
  <meta charset='UTF-8'>
  <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js'></script>
  <script src='application.js'></script>
</head>
<body ng-controller='BookshelfController'>
  <div ng-repeat='book in books'>
    <div ng-hide="editing">
      {{ book }}
      <a href="#" ng-click='edit(book)'>Edit</a>
      <a href="#" ng-click='delete(book)'>Delete</a>
    </div>

    <div ng-show="editing">
      <input type="text" ng-model='editedTitle' ng-show='editing'>
      <a href="#" ng-click='save()'>Save</a>
    </div>




  </div>
  <br>
  <div>
    <p>New Book: {{ newBook }}</p>
    <input type="text" autofocus placeholder='add new book here' ng-model='newBook'>
    <a href="#" ng-click='add()'>Add Book</a>
  </div>

</body>
</html>