<!doctype html>
<html ng-app='bookshelfApp'>
<head>
  <meta charset='UTF-8'>
  <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js'></script>
  <script src='application.js'></script>
</head>

<body ng-controller='BookshelfController'>

  <div ng-repeat='book in books'>
    <div ng-hide='editing'>
      <h3>{{ book }}</h3>
      <a href="#" ng-click='edit()'>Edit</a>
      <!-- <input type="checkbox" ng-model="editing"> -->
      <a href="#" ng-click='delete(book)'>Delete</a>
    </div>
    <div ng-show='editing'>
      <input type="text" value='{{book}}' ng-model='editedBook'>
      <a href="#" ng-click='save()'>Save</a>
    </div>
  </div>

  <div>
    <p>{{ newBook }}</p>
    <input type="text" placeholder='New book' autofocus ng-model='newBook'>
    <a href="#" ng-click='add()'>Add Book</a>
  </div>

</body>
</html>